
/* DEBUG */
body{
    background-color: lightskyblue;
}

/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

html{
    font-size: 62,5%;
}

/* COMMON */
:root {
    --bg-body: rgba(218, 219, 212, 1);
    --bg-body-green: rgba(0, 150, 136, 1);
    --header: rgba(234, 234, 234, 1);
    --main-icon: rgba(177, 177, 177, 1);
    --notification: rgba(142, 218, 252, 1);
    --hover-person: rgba(233, 235, 235, 1);
    --footer: rgba(243, 238, 234, 1);
    --footer-icon: rgba(107, 115, 118, 1);
    --send-msg: rgba(213, 249, 186, 1);
}
