<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
        rel="stylesheet">

    <!-- Fontawsome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Style -->
    <link rel="stylesheet" href="css/style.css">

    <!-- Vue -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- Luxos -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/luxon/3.1.0/luxon.min.js"
        integrity="sha512-79nhbkASdW5wurW8DtF9Vd7BEDKdTbCKkh87lW6W3tk9T4L9Bc58MzmvRzjMcFCSKpjkoRjwzrTdfOa5lkfJ5Q=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>
    <!-- Vue container -->
    <div id="app">
        <!-- Background container -->
        <div id="container" class="d-flex flex-centered">
            <!-- Main container -->
            <main id="container-main" class="d-flex">

                <!-- Section LEFT -->
                <div id="main-left">

                    <!-- Header -->
                    <section class="main-header d-flex flex-space-between">
                        <header id="nav-left" class="d-flex">
                            <img src="img/avatar_io.jpg" alt="user icon">
                            <h4 class="ms-1 align-self">{{userName}}</h4>
                        </header>
                        <div id="nav-right">
                            <a href=""><i class="fa-solid fa-circle-notch"></i></a>
                            <a href=""><i class="fa-solid fa-message"></i></a>
                            <a href=""><i class="fa-solid fa-ellipsis-vertical"></i></a>
                        </div>
                    </section>


                    <!-- Notification -->
                    <section id="notification" class="d-flex align-item">
                        <div class="ms-1 me_5 d-flex flex-centered">
                            <i class="fa-solid fa-bell-slash"></i>
                        </div>
                        <div class="d-flex-column">
                            <span>Ricevi notifiche di nuovi messaggi</span>
                            <a href="">Attiva notifiche desktop</a>
                        </div>
                    </section>

                    <!-- Search Bar -->
                    <section id="search-bar" class="d-flex flex-centered">
                        <div class="d-flex flex-centered">
                            <!-- LABEL search -->
                            <label for="search-txt">
                                <span class="sr-only">Cerca o inizia una nuova chat </span>
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </label>
                            <!-- INPUT search -->
                            <input type="text" id="search-txt" placeholder="Cerca o inizia una nuova chat"
                                v-model.trim="searchTxt" @keyup="filterSearch()">
                        </div>
                    </section>

                    <!-- CONTACT LEFT -->
                    <section id="contact">
                        <div class="contact-friend d-flex flex-space-between-start" v-for="(friend, index) in contacts"
                            @click="changeActive(index)" :class="friend.visible === true? '' : 'sr-only'">
                            <div class="d-flex">
                                <div class="friend-img">
                                    <img :src="'img/avatar' + friend.avatar + '.jpg'" :alt="friend.name">
                                </div>
                                <div class="friend-txt d-flex-column">
                                    <h4>{{friend.name}}</h4>
                                    <span>
                                        {{friend.messages[friend.messages.length - 1].message}}
                                    </span>
                                </div>
                            </div>
                            <div class="friend-hour d-flex me_5">
                                <span> {{friend.messages[friend.messages.length - 1].date.substring(11, 16)}}</span>
                            </div>
                        </div>
                    </section>

                    <!-- ADD + New contact -->
                    <section class="add-contact d-flex flex-centered" @click="addIsClicked = true">
                        <div>
                            <i class="fa-solid fa-plus"></i>
                        </div>
                    </section>
                </div>


                <!-- Section RIGHT -->
                <div id="main-right">
                    <!-- Header RIGHT -->
                    <header class="main-header d-flex flex-space-between">
                        <div id="chat-header-left" class="d-flex">
                            <div>
                                <img :src="`img/avatar${contacts[activeContact].avatar}.jpg`"
                                    :alt="contacts[activeContact].name">
                            </div>
                            <div class="ms-1">
                                <h4>{{contacts[activeContact].name}}</h4>

                                <span v-if="botIsWriting">Sta scrivendo...</span>
                                <span v-else-if="botIsOnline">Online</span>
                                <span v-else>Ultimo accesso oggi alle {{lastAccess.substring(11, 16)}}</span>


                            </div>
                        </div>
                        <div id="chat-header-right">
                            <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
                            <a href="#"><i class="fa-solid fa-paperclip"></i></a>
                            <a href="#" @click.prevent="visualizeCancelDiv()"><i
                                    class="fa-solid fa-ellipsis-vertical"></i></a>
                        </div>
                    </header>

                    <!-- CANCEL chat or contact -->
                    <section class="cancel-content" v-if="clickedIconHeader">
                        <div class="cancel-chat" @click="isCanceled = true">
                            <span>Elimina tutti i messaggi</span>
                        </div>
                        <div class="cancel-contact" @click="cancelContact(activeContact)">
                            <span>Elimina Chat </span>
                        </div>
                    </section>

                    <!-- CHAT -->
                    <section id="chat">

                        <div class="chat-box d-flex-column">

                            <div class="chat-msg" v-for="(msgChat, i) in contacts[activeContact].messages"
                                :class="`${msgChat.status}-msg`" @click="visualizeCancel(i)" v-if="!isCanceled">

                                <span>{{msgChat.message}}</span>
                                <span class="msg-hour">{{msgChat.date.substring(11, 16)}}</span>


                                <!-- CANCEL msg -->
                                <div class="cancel-msg " @click="deleteMsg(i)" v-if="i == activeMsg">
                                    <h6>Message Info</h6>
                                    <span> Delete Message</span>
                                </div>

                            </div>

                        </div>

                    </section>



                    <!-- Footer SEND MSG -->
                    <footer id="footer-msg" class="d-flex flex-space-around ">
                        <!-- Smile -->
                        <div>
                            <a href=""> <i class="fa-regular fa-face-smile"></i></a>
                        </div>
                        <!-- INPUT scrivi messaggio -->
                        <div id="footer-input" class="flex-grow">
                            <label for="send-msg" class="sr-only">Scrivi un messaggio da inviare</label>
                            <input type="text" id="send-msg" placeholder="Scrivi un messaggio"
                                v-model.trim="messageInput" @keyup.enter="addNewMessage()">
                        </div>
                        <!-- Microphone -->
                        <div>
                            <a href="#" v-if="!messageInput"> <i class="fa-solid fa-microphone fa-sm"></i></a>
                            <a href="#" v-else @click="addNewMessage()"> <i class="fa-solid fa-plane fa-xs"></i></a>

                        </div>
                    </footer>

                </div>


                <!-- POP UP ADD NEW CONTACT -->
                <section id="popup-newcontact" v-if="addIsClicked">
                    <div id="popup-close" @click="addIsClicked = false, isNotCompilated = false">
                        <i class="fa-solid fa-xmark"></i>
                    </div>
                    <div class="popup-wrapper d-flex-column flex-centered">
                        <h3>Aggiungi un nuovo contatto</h3>
                        <small v-if="isNotCompilated">Errore compilazione: inserire il nome e scegliere l'avatar</small>
                        <div class="popup-new-name d-flex-column">
                            <h5> Scegli il nome</h5>
                            <label for="contact-name" class="sr-only"> Name of the new contact you want to add </label>
                            <input type="text" id="contact-name" placeholder="Inserisci un nome"
                                v-model.trim="newContactName">
                        </div>
                        <div class="popup-new-avatar">
                            <h5>Scegli l'avatar</h5>
                            <div class="icon-wrapper d-flex flex-space-between">
                                <div class="icon-avatars" v-for="(friend, index) in contacts"
                                    @click="chooseAvatar(index)" :class="friend.icon === 'existing'? 'sr-only' : ''">
                                    <img :src="'img/avatar' + friend.avatar + '.jpg'" :alt="friend.name">
                                </div>
                            </div>
                        </div>
                        <div class="popup-btn">
                            <button @click="addNewContact()"> Aggiungi alla rubrica </button>
                        </div>
                    </div>
                </section>

            </main>
        </div>
    </div>
    <!-- Script -->
    <script src="js/script.js"></script>

</body>

</html>